/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
  line-height: 1.2;
  color: #24150e;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  font-size: 1em;
}
h2,
h3,
a {
  color: #24150e;
}
h2,
h3 {
  margin-top: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  border-radius: 10px;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  font-size: 1.4em;
  margin: 0;
}

.name a,
.main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}
.main-nav a {
  font-size: 1em;
  color: #a55f21;
  text-transform: uppercase;
}
.main-nav a:hover {
  color: #dfb48a;
}

/* ---- Layout Containers ---- */

.main-header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.banner,
.main-footer {
  text-align: center;
}
.banner {
  color: #fff;
  background: #d4a373;
  padding: 2em 0;
  margin-bottom: 36px;
  border-left: 1rem solid #bc6c25;
}
.section {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
}

.col {
  padding-right: 1em;
  padding-left: 1em;
}
.main-footer {
  background: #faedcd;
  padding: 2em 0;
  margin-top: 30px;
}

/* ---- Page Elements ---- */

.headline {
  margin-bottom: 0.5;
  margin-top: 0;
}

.col p {
  text-align: center;
}

footer a {
  color: #a55f21;
}

.introduction {
  background-color: antiquewhite;
  line-height: 2.5;
  border-radius: 10px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 500px) {
  .headline {
    font-size: 1.5em;
  }
  .tagline {
    font-size: 1.2em;
  }

  /* ---- Flexbox ---- */
  .main-header,
  .main-nav,
  .row {
    display: flex;
  }

  .main-header {
    flex-direction: row;
    align-content: center;
  }

  .main-header h1 {
    margin-right: auto;
  }

  .default-menu {
    display: none;
  }

  .col {
    flex: 1 50%;
  }

  .row {
    flex-direction: column;
  }

  /* ---- For dropdown menu ---- */
  .dropbtn {
    width: 23%;
    padding: 16px;
    cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    font-size: 1em;
    color: #a55f21;
    text-transform: uppercase;
    padding: 12px 16px;
    display: block;
    text-align: center;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #dfb48a;
  }
}

@media (min-width: 800px) {
  .headline {
    font-size: 2em;
  }
  .tagline {
    font-size: 1.8em;
  }

  /* ---- Flexbox ---- */
  .main-header,
  .default-menu,
  .row {
    display: flex;
  }

  .main-header {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .dropdown {
    display: none;
  }

  .col {
    flex-basis: 0;
  }

  .row {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .headline {
    font-size: 2.5em;
  }
  .tagline {
    font-size: 2em;
  }

  /* ---- Flexbox ---- */
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .col {
    flex-basis: 0;
  }

  .row {
    flex-direction: row;
  }
}
