* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  color: #24150e;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  flex: 1 50%;
  background-color: #ece4db;
  margin: 0.5em;
  padding: 1.3em;
  border-radius: 20px;
  font-size: 1.2em;
}

.product-price,
.product-description {
  background-color: #ffffff;
  line-height: 2em;
}

.product-price {
  margin-bottom: 0;
}

.product-description {
  margin-top: 0;
}

@media (min-width: 800px) {
  .products {
    flex-direction: row;
  }
}
